@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	max-width: 1440px;
	margin: auto;
	font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
	background-color: #0e0e0e;
}

/* CSS for header */
header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/Photos/mainBackground.png);
	background-position: top;
	background-size: cover;
	color: #fff;
}

/* CSS for nav bar */
.navbar {
	display: flex;
	flex-direction: row;
	padding: 30px 145px;
	justify-content: space-between;
	align-items: center;
	font-size: 19px;
}

.logo img {
	width: 80%;
}

.nav-list {
	gap: 30px;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-weight: 300;
}

.nav-list li {
	margin: 0 20px;
	color: #e8e7e7;
}

header hr {
	border: 1px solid #6c6e6b;
	margin: 0 100px;
}
/* CSS for hero section */
.hero-section {
	position: relative;
	padding-left: 160px;
	padding-top: 180px;
	padding-bottom: 100px;
	display: flex;
	flex-direction: row;
}

.text-section {
	width: 35vw;
}

.heading {
	font-size: 50px;
	font-weight: 700;
}

#head-para {
	color: #959494;
	font-size: 15.5px;
	font-weight: 400;
	padding: 30px 0 50px 0;
	width: 30vw;
	line-height: 30px;
}

.get-started {
	color: #eef6ff;
	background-color: #f4694c;
	padding: 15px 35px;
	font-size: 18px;
	font-weight: 600;
}

.learn-more {
	color: #eef6ff;
	background: transparent;
	border: 1px solid #fff;
	padding: 15px 35px;
	font-size: 18px;
	font-weight: 500;
	margin-left: 30px;
}

.play-btn img {
	position: absolute;
	top: 250px;
	right: 410px;
}

.play-text {
	display: flex;
	position: absolute;
	top: 520px;
	right: 200px;
	font-size: 25px;
	margin-left: 60px;
}

.play-text img {
	margin-right: 10px;
	margin-left: 10px;
}

.play-text img[alt="dash"] {
	margin-bottom: 60px;
}

.play-text img[alt="arrow"] {
	margin-top: 80px;
	margin-left: 50px;
}
